<ion-header>
  <ion-navbar primary>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button (click)="logout()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="home">
  <ion-searchbar [(ngModel)]="query" (ionInput)="search($event)"></ion-searchbar>
  <ion-list>
    <!--<ion-item>
      <ion-label>Start Time</ion-label>
      <ion-datetime cancelText="ยกเลิก" doneText="ตกลง" displayFormat="DD/MM/YYYY" [(ngModel)]="dateServ" (ionChange)="dateFilter()">
      </ion-datetime>
    </ion-item>-->
    <button ion-item (click)="showDatePicker()">
      <ion-icon name="calendar" primary item-right></ion-icon>
      {{ dateServ }}
    </button>
    <button ion-item *ngFor="let person of people" (click)="goEmr(person)">
      <ion-icon *ngIf="person.SEX=='1'" name="man" large primary item-left>
      </ion-icon>
      <ion-icon *ngIf="person.SEX=='2'" name="woman" large secondary item-left>
      </ion-icon>
      {{ person.NAME }} {{ person.LNAME }}
    </button>
  </ion-list>
</ion-content>
